<!DOCTYPE html>
<html>

<head lang="en">
  <title>{% block title %}{{ page.title }}{% endblock %} &mdash; {{ site.title }} &mdash; {{ site.subtitle }}</title>
  <meta charset="utf-8">
  <meta name="theme-color" content="#ffffff">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  {% block head_meta %}
  <meta name="robots" content="noindex, follow">
  {% endblock %}
  <link rel="stylesheet" href="{{ site.url }}/assets/app.css">

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@airtonzanon">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:title" content="{{ page.title }}">
  <meta name="mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css"
    integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
  <link rel="alternate" type="application/atom+xml" href="{{ site.url }}/atom.xml"
    title="{{ site.title }} activity feed" />
  <link rel="apple-touch-icon" sizes="57x57" href="{{ site.url }}/favicon/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="{{ site.url }}/favicon/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="{{ site.url }}/favicon/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="{{ site.url }}/favicon/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="{{ site.url }}/favicon/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="{{ site.url }}/favicon/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="{{ site.url }}/favicon/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="{{ site.url }}/favicon/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="{{ site.url }}/favicon/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="{{ site.url }}/favicon/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ site.url }}/favicon/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="{{ site.url }}/favicon/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ site.url }}/favicon/favicon-16x16.png">
  <link rel="manifest" href="{{ site.url }}/favicon/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="{{ site.url }}/favicon//ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  {% block head_styles %}
  {% endblock %}
  {% block head_scripts %}
  {% endblock %}
</head>

<body>
  <div class="container">
    <div class="header-section">
      <div class="header-frame">
        <h1>Airton Zanon</h1>
        <h2>Software Developer in Amsterdam</h2>
      </div>
    </div>
    <div class="links">
      <a target="_blank" href="http://twitter.com/airtonzanon">twitter</a>
      <a target="_blank" rel="me" href="https://phpc.social/@airtonzanon">mastodon</a>
      <a target="_blank" href="http://github.com/airtonzanon">github</a>
      <a target="_blank" href="http://linkedin.com/in/airton-zanon">linkedin</a>
      <a target="_blank" href="mailto:me@airton.dev">email</a>
    </div>
    <main role="main">
      <div>
        <div>
          {% block content_wrapper %}{% block content %}{% endblock %}{% endblock %}
        </div>
      </div>
    </main>
    <center>
        <script type="text/javascript" src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" data-name="bmc-button" data-slug="airtonzanon" data-color="#5F7FFF" data-emoji=""  data-font="Cookie" data-text="Buy me a coffee" data-outline-color="#000000" data-font-color="#ffffff" data-coffee-color="#FFDD00" ></script>
    </center>
    <hr>
    <footer>
      <span class="text-muted">&copy; {{ "now"|date("Y") }} {{ site.title }}</span> -
      <span class="text-muted">Proudly not using cookies <i class="fas fa-cookie-bite"></i> to track you</span> </br>
      <center>
          <span class="text-muted"><a href='{{ site.url }}/atom.xml'>Posts Feed</a></span> -
          <span class="text-muted"><a href='{{ site.url }}/til-feed.xml'>TIL Feed</a></span>
      </center>
    </footer>
  </div>
  <script src="https://getinsights.io/js/insights.js"></script>
  <script>
      insights.init('vn9hIwPZ6JF7BIA2');
      insights.trackPages();
  </script>
  <script data-goatcounter="https://airtonzanon.goatcounter.com/count"
        async src="//gc.zgo.at/count.js"></script>
  {% block scripts_after %}
  {% endblock %}
</body>

</html>
