html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #fff;
  color: #000;
  font-family: "Roboto Mono", monospace;
}

.container {
  margin: 50px auto;
  padding: 5px;
  max-width: 650px;
}

@media (max-width: 600px) {
  .container {
    padding: 20px;
  }
}

.header-section {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.header-frame {
  max-width: 350px;
}

.go-home {
  position: fixed;
  top: 5px;
  left: 20px;
  padding: 5px 5px 5px 0;
  background: #fff;
  box-sizing: border-box;
}

h1 {
  font-weight: 400;
  margin: 0;
}

h2 {
  color: #96979c;
  font-weight: 300;
  margin: 0 0 0.5em 0;
}

a {
  color: #96979c;
}

a:hover {
  font-weight: bold;
}

.links {
  margin: 25px 0;
}

.links a:not(:last-child) {
  padding: 0 16px 0 0;
}

@media (max-width: 600px) {
  .links {
    text-align: center;
  }
}

.bio {
  display: none;
  line-height: 24px;
}

.bio br {
  display: block;
  content: "";
  height: 15px;
}

.bio.show {
  display: block;
}

hr {
  margin: 1.5em 0;
  text-align: center;
  border: none;
}

hr:after {
  content: '---';
  color: #eee;
  margin: 0 0.4em;
}

article {
  text-align: justify;
  text-justify: inter-word;
}

.twitter-tweet{
  margin: auto;
  width: 50%;
  padding: 10px;
}

pre code {
  background-color: #eee;
  border: 1px solid #999;
  display: block;
  padding: 20px;
}

code {
  background-color: #eee;
  padding: 0 5px 0 5px;
}