---
layout: default
title: Home
generator: pagination
pagination:
max_per_page: 15
use:
- posts
- til
---

<div>
    <div class="bio show">
        Hello, I'm Airton! Brazilian, colorblind, developer since 2013, Working with a
        lot of great people at <a href="https://www.careersatwerkspot.com/" target="_blank">Werkspot</a> as a software
        developer.
        <br>
        I've been working with a lot of <strong>PHP</strong>, but nowadays I play around with some
        <strong>Python</strong> and some other languages that I find interesting.
        <br>
        I have a podcast where I talk about technology with other Brazilian friends, it's called "Depois do Café" and
        it's in Portuguese.
    </div>
</div>

<hr>
<div class="random-stuff">
    <div class="menu-collective">
        <a class="menu" href="{{ site.url }}/doing"><span>Doing</span></a>
        <a class="menu" href="{{ site.url }}/til"><span>Today I Learned</span></a>
    </div>
</div>
<hr>

{% set posts = [] %}

{% for post in page.pagination.items %}
{% set posts = posts|merge([{url: post.url, title: post.title, created_at: post.createdAt, language: post.language, type: 'Article'}])%}
{% endfor %}

{% for post in data.til %}
{% set posts = posts|merge([{url: post.url, title: post.title, created_at: post.createdAt, language: post.language, type: '#TIL'}])%}
{% endfor %}

{% for post in posts|sort((a, b) => b.created_at <=> a.created_at)%}
<h5>
	<i class="fas fa-angle-double-right text-secondary"></i> {{ post.type }}: <a class="text-secondary"
            href="{{ site.url }}{{ post.url }}">[{{ post.language }}] - {{ post.title }}</a>
</h5>
{% endfor %}
{% if page.pagination.previous_page or page.pagination.next_page %}
<nav>
    {% if page.pagination.previous_page %}<a class="text-secondary"
        href="{{ site.url }}{{ page.pagination.previous_page.url }}">Newer Posts</a>{% endif %}<br />
    {% if page.pagination.next_page %}<a class="text-secondary"
        href="{{ site.url }}{{ page.pagination.next_page.url }}">Older Posts</a>{% endif %}<br />
</nav>
{% endif %}
